@keyframes _9TtTx{0%{background-position:0% 0%}to{background-position:-135% 0%}}.f8ZUJ{margin-right:16px;max-width:232px}._3aKgr{display:inline-block;margin-left:0!important;vertical-align:middle;line-height:1}
