@keyframes CW8WY{0%{background-position:0% 0%}to{background-position:-135% 0%}}.-oB-B .QPR4w{width:100%;margin-bottom:16px}.-oB-B{display:flex;justify-content:center;flex-direction:column;align-items:center}
